
* {
    margin: 0;
    padding: 0;
}

.box {
    height: 100vh;
    background-color: #29bde0;
    margin: 0 auto;
}

p {
    font-size: 30px;
    text-align: center;
    padding-top: 39px;
}

.head {
    height: 120px;
    background-color: #29bde0;
}

.head p {
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    padding-top: 73px;
}

.rectangle {
    float: left;
    margin: 70px 0 0 20px;

}

.cancel {
    float: right;
    margin: 70px 20px 0 0;
}

.navigation {
    padding-top: 6px;
    background-color: #29bde0;

}

.symbol {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #fbb435;
    float: right;
    margin-top: 9px;

}

.polygon {
    float: right;
    width: 40px;
    margin: 15% 10%;
}

.fragment {
    background-color: #b9e9f5;
    height: 82px;
}

.arrow {
    width: 20px;
    float: left;
    margin-left: 72px;
}

.vote {
    float: left;
    font-size: 26px;
    padding-top: 20px;
    padding-left: 53px;

}

.tips {
    color: #f2fbfd;
    font-size: 24px;
    float: left;

}

.content {
    width: 100%;
    background-color: #29bde0;
    display: inline-block;
    text-align: center;

}

.subsection {
    width: 100%;
    background-color: #29bde0;
    display: inline-block;
    float: left;

}

.edge {
    background-color: #83b09a;
    width: 127px;
    height: 27px;
}

.number {
    font-size: 22px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.square {
    width: 30px;
    position: relative;
    top: 20px;
}

.interval {
    width: auto;
    height: auto;
    background-color: #29bde0;
}

.pattern {
    height: auto;
    display: -webkit-box;
    position: absolute;

}

.icon {
    width: 95%;
    position: relative;

}

.player {
    width: 136px;
    height: 136px;
    background-color: #f5c97b;
    display: inline-block;
    border-style:solid;
    border-color: white;
    border-width: 5px;
    margin: 5% ;

}

.bottom {
    background-color: #29bde0;
    padding: 5% 20% 0 20%;
    text-align: center;
    font-size: 40px;

}

button {
    width: 100%;
    background-color: #fbb435;
    color: #fffaf2;
    border: none;
}












